<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            
            <a href="/vendas/novo" class="btn btn-primary">Novo</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data da Venda</th>
                        <th>Numero da Venda</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umaVenda : ${listaVendas}">
                        <td th:text="${umaVenda.id}"></td>
                        <td th:text="${umaVenda.data}"></td>
                        <td th:text="${umaVenda.numeroVenda}"></td>
                        <td><a th:href="@{'/vendas/alterar/' + ${umaVenda.id}}" class="btn btn-warning">Alterar</a></td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>