<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head >
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
        <link  th:href="@{/css/style.css}" rel="stylesheet">
    </head>
    
    <body>
    <nav class="nav">
            <h1 class="logo">Nike</h1>
           
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/home/produto">Produtos</a></li>
            </ul>
        
        </nav>
        <main class="container"> 
            <div class="jd">
                <img src="/img/michael.png" alt="michael">
            </div>

            <div class="txt">
                <h2>O michael Jordan se tornou uma lenda no meio do basquete e quando ele assinou com a nike na epóca virou febre o tenis dele o air jordan quando ele atuava belo chicago bulls </h2>
            </div>

            <div class="jordan">
                <img src="/img/jordan.png" alt="jordan">
            </div>

            <div class="tenisJD">
                <img src="/img/nikejordan.png" alt="nike-jordan">
            </div>
            






        </main>
    </body>
</html>