<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head >
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
        <link  th:href="@{/css/style2.css}" rel="stylesheet">
    </head>
    
    <body>
    <nav class="nav">
            <h1 class="logo">Nike</h1>
           
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/home/produto">Produtos</a></li>
                <li><a href="/home/cadastro">cadastro</a></li>
            </ul>
        
        </nav>

        <div class="title">
            <h2>Produtos</h2>
        </div>
        <main class="container"> 

            <div class="jordan">
                <img src="/img/nikejordan.png" alt="jordan">
                <h1>Air Jordan</h1>
                <strong><h4>R$ 900,00</h4></strong>
                <br>
               <a href="/vendas"><button class="btn btn-primary">Comprar</button></a>
            </div>

            <div class="shox">
                <img src="/img/nikeshox.png" alt="shox">
                <h1 class="TT">Nike Shox</h1>
                <strong><h4>R$ 400,00</h4></strong>
                <br>
               <a href="/vendas"><button class="btn btn-primary">Comprar</button></a>
            </div>

            <div class="nike">
                <img src="/img/nike.png" alt="nike">
                <h1>Nike Air Max</h1>
                <strong><h4>R$ 1400,00</h4></strong>
                <br>
               <a href="/vendas"><button class="btn btn-primary">Comprar</button></a>
            </div>

            <div class="preto">
                <img src="/img/nikepreto.png" alt="preto">
                <h1>Nike SB</h1>
                <strong><h4>R$ 2400,00</h4></strong>
                <br>
               <a href="/vendas"><button class="btn btn-primary">Comprar</button></a>
            </div>

            






        </main>
    </body>
</html>