<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head >
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
        <link  th:href="@{/css/style.css}" rel="stylesheet">
    </head>
    
    <body>
    <nav class="nav">
            <h1 class="logo">Nike</h1>
           
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/home/produto">Produtos</a></li>
            </ul>
        
        </nav>
        <main class="container"> 

            <div class="jordan">
                <img src="/img/nikejordan.png" alt="jordan">
            </div>

            <div class="shox">
                <img src="/img/nikeshox.png" alt="shox">
            </div>

            <div class="nike">
                <img src="/img/nike.png" alt="nike">
            </div>

            <div class="preto">
                <img src="/img/nikepreto.png" alt="preto">
            </div>

            






        </main>
    </body>
</html>